/* Стили общие для всего документа html, body */
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
body {
  background-color: rgba(242, 242, 236, 1);
  color: #827e90;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw; /*Всем блокам присвоила max-width 100vw*/
  overflow-x: hidden;
}
/* Стили для header */
header {
  /*Перевела pix в em*/
  display: grid;
  grid-template-areas: "logo menu";
  justify-content: space-between;
  align-items: center;
  width: 76.8em;
  height: 1.9em;
  margin-top: 2.9em;
  margin-left: 14.4em;
}
.logo {
  grid-area: "logo";
  width: 11.8em;
  height: 1.9em;
}
.menu {
  display: grid;
  grid-area: "menu";
  grid-template-columns: repeat(6, auto);
  width: 53em;
  height: 1.1em;
  list-style: none;
}
nav ul li a {
  display: grid;
  justify-content: space-between;
  font-size: 1.1em;
  text-decoration: none;
  list-style: none;
  color: #9c8876;
}
nav ul li a:hover {
  color: #827e90;
}
/* Стили для экрана 1 Астролог Юлия Сапунова */
.screen_1 {
  background-image: url("../assets/images/bg_screen1.svg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  max-width: 100vw;
  height: 52em;
  color: rgba(156, 136, 118, 1);
}
.astrologer_about {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.astrologer_info {
  width: 40em;
  height: 20em;
  margin-left: 9em;
}
.screen_1__title {
  font-family: "Ubuntu";
  font-size: 3.1em;
  text-align: left;
  margin-top: 2.3em;
}
.astrologer_descr1 {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-top: 1.6em;
}
.astrologer_descr2 {
  font-size: 0.9em;
  line-height: 1.6em;
  margin-top: 1.4em;
}
.astrologer_ticker {
  margin-top: 30em;
}
.webs__btn1 {
  width: 15em;
  height: 4.4em;
  background-color: #9c88767a;
  border-radius: 0.3em;
  border: none;
  box-shadow: 0px 10px 25px 0px #d2b1cf4d;
  background-size: cover;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 2.25em;
  transition: all 3s ease-out;
}
.webs__btn2 {
  width: 16.2em;
  height: 4.4em;
  background-color: rgba(242, 242, 236, 1);
  border-radius: 0.3em;
  background-size: cover;
  border: 0.1em solid #3e5287;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1.5em;
  margin-bottom: 2.25em;
  margin-left: 2em;
}
/* Стили для экрана 2 Отзывы */
.screen_2 {
  max-width: 100vw;
  height: 58em;
}
.screen_2__title {
  font-size: 3.1em;
  font-weight: 700;
  margin-top: 3em;
  text-align: center;
  text-transform: uppercase;
}
#slider {
  position: relative;
  text-align: center;
}
#slider {
  margin: 0 auto;
  background-color: #f2f2ec;
}
#slider article {
  width: 20%;
  float: left;
}
#slides .image {
  width: 500%;
  line-height: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
article img {
  width: 80%;
}
#desktop:checked ~ #slider {
  max-width: 87em;
}
#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
  background: url("/assets/images/slider_1.svg") no-repeat;
  float: left;
  margin: 0 0 0 -4em;
  display: block;
  height: 4.2em;
  width: 4.2em;
}
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
  background: url("/assets/images/slider_2.svg") no-repeat;
  float: right;
  margin: 0 -7em 0 0;
  display: block;
  height: 4.2em;
  width: 4.2em;
}
label,
a {
  cursor: pointer;
}
.screen_2__reviews input {
  display: none;
}
#switch1:checked ~ #slides .image {
  margin-left: 0;
}
#switch2:checked ~ #slides .image {
  margin-left: -100%;
}
#switch3:checked ~ #slides .image {
  margin-left: -200%;
}
#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 3em;
}
#active label {
  border-radius: 10px;
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #9c88767a;
}
#active {
  margin: 23% 0 0;
  text-align: center;
}
#active label:hover {
  background: #9c88767a;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
  background: #827e90;
  border-color: #382d62 !important;
}
#slides .image {
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s;
}
#controls label:hover {
  opacity: 0.6;
}
#controls label {
  transition: opacity 0.2s ease-out;
}
/* Стили для экрана 3 Услуги */
.service {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 1fr;
  background-color: #f2f2ec;
  padding-left: 9em; /*Уменьшила отсуп вровень с экраном 1*/
}
.service_title {
  font-size: 3.1em;
  font-weight: bold;
  padding-bottom: 1em;
  color: #827e90;
}
.service_option {
  font-size: 1.3em;
  border-bottom: 0.1em solid #9c88767a;
  padding-top: 2em;
}
.part1 {
  grid-column: 1;
  padding-right: 1em;
}
.service_planet {
  width: 43%; /*Немного увеличила планету*/
  grid-column: 2;
  padding-top: 7em; /*Сдвинула планету немного ниже и правее*/
  padding-left: 7em;
}
.service__btn {
  width: 16.2em;
  height: 4.4em;
  background-color: #9c88767a;
  border-radius: 0.3em;
  background-size: cover;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1.5em;
  margin-bottom: 2.25em;
  transition: all 2s ease-out;
}
#button_service {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.4em;
  color: #827e90;
}
#button_service:hover {
  color: #3e5287;
}
.service__btn:hover,
.webs__btn1:hover,
.webs__btn2:hover,
.service__btn:focus {
  background-color: #f2f2ec;
  border: 0.1em solid #9c88767a;
  box-shadow: 0px 10px 25px 0px #d2b1cf4d;
}
/* Стили для экрана 4 Вебинары */
.screen_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  height: 125em;
  padding: 0 1em;
}
.screen_4__title {
  font-size: 3.1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3em;
}
.screen_4__webs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  color: #827e90;
}
.webs__item {
  display: flex;
  width: 81em;
  height: 27em;
  border-radius: 0.6em;
  box-shadow: 0px 0px 60px 0px #1626461a;
  margin-bottom: 1.9em;
}
.webs__img {
  width: 14em;
  height: 27em;
  margin-right: 1.9em;
  border-radius: 10px, 0px, 0px, 10px;
}
.webs__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.webs__title {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 2em;
}
.webs__descr {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 1em;
  margin-right: 2.5em;
}
.webs__btn {
  width: 15em;
  height: 4.4em;
  background-color: #9c88767a;
  border-radius: 0.3em;
  border: none;
  box-shadow: 0px 10px 25px 0px #d2b1cf4d;
  background-size: cover;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 2.25em;
  transition: all 3s ease-out;
}
#submit {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.4em;
  color: #827e90;
}
.webs__btn:hover,
.webs__btn:focus {
  background-color: #f2f2ec;
  border: 0.1em solid #827e90;
  box-shadow: 0px 10px 25px 0px #d2b1cf4d;
}
.webs__btn_info {
  width: 15em;
  height: 4.4em;
  background-color: #f2f2ec;
  border-radius: 0.3em;
  box-shadow: 0px 10px 25px 0px #d2b1cf4d;
  background-size: cover;
  border: 0.1em solid #827e90;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 2s ease-out;
}
#more-info {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.4em;
  color: #827e90;
  box-shadow: 0px 10px 25px 0px #d2b1cf4d;
  margin-top: 7.8em;
}
.webs__btn_info:hover,
.webs__btn_info:focus {
  background-color: #9c88767a;
}
/* Стили для footer */
/*Перевела px в em*/
footer {
  display: grid;
  max-width: 100vw;
  height: 15em;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12.5em;
}
.contacts_divers {
  display: grid;
  justify-content: space-evenly;
  width: 100vw;
  height: 5.6em;
  grid-template-columns: repeat(3, auto);
  color: #382d62;
  align-content: flex-start;
}
.number,
.mail_name {
  font-weight: 600;
  font-size: larger;
}
hr {
  border: none; /* Убираем границу */
  background-color: #382d62;
  height: 0.006em; /* Толщина линии */
  opacity: 30%;
}
.rules {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}
.rights {
  color: #382d62;
}
.policy {
  font-weight: 700;
  font-size: 1em;
  color: #382d62;
  text-decoration: none;
}
.all-symbols {
  display: grid;
  width: 6.7em;
  height: 2.5em;
}
.all-symbols {
  display: flex;
  justify-content: center;
  width: 11em;
  height: 2.5em;
  position: relative;
  color: #382d62;
}
.icon_1 {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  z-index: 2;
}
.icon_2 {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  z-index: 1;
  right: 2em;
}
.icon_3 {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  right: -0.18em;
  z-index: 0;
}
